* {
  margin: 0;
  padding: 0;
}
.home-page {
  margin-top: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  &__left {
    display: grid;
    gap: 5px;
    grid-auto-rows: minmax(80px);
    align-items: center;
  }
  &__small-texts {
    list-style-type: none;
    padding: 0;
    & > * {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      & > * {
        margin: 0 5px;
      }
    }
  }
  &__title {
    font-size: 5rem;
    &-green {
      color: #a6ff87;
    }
  }
  &__image {
    width: 110%;
    margin-top: -50px;
    margin-right: 100px;
  }
  &__form {
    padding: 10px;
    background-color: #fff;
    width: 65%;
    max-height: 72px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
  }
}
